body {
  background: #000;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.manz {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 400px);
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.manz img {
  transform: scale(1);
  image-rendering: pixelated;
  clip-path: inset(5%);
}

.manz div {
  width: 800px;
  height: 105px;
  text-align: center;
  font-family: "Bebas Neue", monospace;
  font-size: 92px;
  color: #fff;
  background: #000e;
  text-shadow: 0 0 10px #0f0;
  box-shadow: 0 0 10px 4px #0f0;
}

.manz a {
  color: #0f0;
  text-shadow: 0 0 35px #0f0;
  text-decoration: none;
}

.moved {
  transform: translate(10px, 10px);
}

.color {
  filter: hue-rotate(250deg);
}

.manz div.comic {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 53px;
  line-height: 190%;
}
